/*
#############################################################################

Custom Colorbox style 'Simple Box 1'

* overrides any example style set in Typesetter's Configuration
* needs FontAwesome to be loaded

Author: J. Krausz
Date: 2017-05-26
Version 1.0
#############################################################################
*/

#cboxWrapper {
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
box-sizing:border-box;
}

#cboxOverlay {
background:#000;
}

#cboxTopLeft, #cboxTopCenter, #cboxTopRight,
#cboxMiddleLeft, #cboxMiddleRight,
#cboxBottomLeft, #cboxBottomCenter, #cboxBottomRight {
width:0!important;
height:0!important;
display:none;
}

#cboxContent {
margin:0;
z-index:9999;
background:#ddd;
}

#cboxContent #cboxLoadedContent{
margin-bottom:0;
background:#ddd;
padding:0;
border:none;
}

#cboxContent img.cboxPhoto {}

#cboxContent img.zoomImg.zoomEnabled {
cursor:all-scroll;
cursor:zoom-in; /* not supported in IE */
}

#cboxContent #cboxPrevious,
#cboxContent #cboxNext,
#cboxContent #cboxClose {
position:absolute;
background:none;
width:64px;
height:64px;
overflow:hidden;
text-indent:96px;
white-space:nowrap;
color:rgba(255,255,255,0.85);
text-shadow:0 0 2px rgba(0,0,0,0.7), 0 0 8px rgba(0,0,0,0.5);
z-index:10;
}

#cboxContent #cboxPrevious:hover,
#cboxContent #cboxNext:hover,
#cboxContent #cboxClose:hover {
color:rgba(255,255,255,1); 
}

#cboxContent #cboxPrevious {
margin:-32px 0 0;
top:50%;
left:0;
right:auto;
}
#cboxContent #cboxNext {
margin:-32px 0 0;
top:50%;
left:auto;
right:0;
}
#cboxContent #cboxClose {
margin:0;
top:0;
right:0;
bottom:auto;
left:auto;
}

#cboxContent #cboxPrevious:before,
#cboxContent #cboxNext:before,
#cboxContent #cboxClose:before {
font-family:"FontAwesome"!important;
font-size:48px;
position:absolute;
top:0;
left:0;
width:64px;
height:64px;
line-height:64px;
text-align:center;
text-indent:0;
}

#cboxContent #cboxPrevious:before {
content:"\f104";      /* \f104 = fa-angle-left, \f053 = fa-chevron-left */
}

#cboxContent #cboxNext:before {
content:"\f105";      /* \f105 = fa-angle-right, \f054 = fa-chevron-right */
}

#cboxContent #cboxClose:before {
font-size:24px;
content:"\f00d";      /* \f00d = fa-close */
}

#cboxContent #cboxCurrent,
#cboxContent #cboxTitle {
top:auto;
left:0;
right:0;
bottom:0;
color:#eee;
font-weight:normal;
text-align:center;
text-indent:0;
opacity:1;
-webkit-transition:all 0.6s;
transition:all 0.6s;
}

#cboxContent #cboxCurrent {
float:none!important;
padding:0 1.5em;
line-height:2;
height:2.5em;
white-space:nowrap;
overflow:hidden;
text-overflow:ellipsis;
pointer-events:none;
}

#cboxContent #cboxTitle {
background:rgba(0,0,0,0.85);
padding:1.25em 1.5em 3em 1.5em;
}

#cboxContent #cboxTitle:empty {
display:none!important;
}

#cboxOverlay:hover + #colorbox #cboxTitle,
#cboxOverlay:hover + #colorbox #cboxTitle + #cboxCurrent,
#cboxOverlay:hover + #colorbox #cboxTitle ~ button
{
opacity:0;
}



/*
#cboxContent #cboxLoadingOverlay {}
#cboxContent #cboxLoadingGraphic {}
*/
